<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="/assets/style.css" rel="stylesheet" />
</head>

<body>
    <div id="link-list">
        <div class="link-list-element"><a href="aaaa" class="link-list-element-url">link here gonna be sometime but lorum ipsum ? yes no that is the question</a><button><img src="/assets/cross.svg"></button></div>
    </div>
</body>

</html>